@import "/src/index.css";

#root {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    cursor: pointer;
    font-size: 24px;
    color: var(--secondary-color);
}

.navbar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar__dialog {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bolder;
    padding: 0.5rem 0;
    text-align: center;
}

.navbar__dialog-text {
    font-size: 1.6rem;
}

.navbar__content {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.navbar__logo-container {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__logo {
    height: 80px;
    width: auto;
    border-radius: 5px;
}

.navbar__menu {
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0 0 0 2rem;
    gap: 2rem;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar__menu-item {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__menu-link {
    font-size: 1.6rem;
    font-weight: bolder;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__menu-link:hover {
    text-decoration: underline;
}

.navbar__search-user-cartwidget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 1rem;
    padding: 1rem;
}

.form-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color);
    padding: 0;
    border-radius: 5px;
}

input#search {
    min-width: 200px;
    height: 24px;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    padding: 0 0 0 1rem;
    color: var(--secondary-color);
    border-radius: 5px;
    border: none;
}

.form__button-search {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
}
