@import "/src/index.css";

#root {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 2rem;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    cursor: pointer;
    color: var(--secondary-color);
}

.navbar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar__dialog {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bolder;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar__dialog-text {
    font-size: 1.6rem;
}

.material-symbols-outlined--secondary {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    transition: all 0.3s ease;
}

.material-symbols-outlined--secondary:hover {
    font-variation-settings: "FILL" 1, "wght" 900, "GRAD" 0, "opsz" 24;
    transform: scale(1.1);
}

.navbar__content {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.navbar__logo-container {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__logo {
    height: 80px;
    width: auto;
    border-radius: 5px;
}

.navbar__menu {
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0 0 0 2rem;
    gap: 2rem;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar__menu-item {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__menu-link {
    font-size: 1.6rem;
    font-weight: bolder;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__menu-link:hover {
    text-decoration: underline;
}

.navbar__search-user-cartwidget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 1rem;
    padding: 1rem;
}

.form-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color);
    padding: 0;
    border-radius: 5px;
}

input#search {
    min-width: 200px;
    height: 24px;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    padding: 0 0 0 1rem;
    color: var(--secondary-color);
    border-radius: 5px;
    border: none;
}

.form__button-search {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
}

.main {
    border: 1px solid var(--secondary-color);
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    font-size: 1.6rem;
}

.footer {
    border-top: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 2rem 0;
}

.footer div ul {
    list-style: none;
}

.footer div span,
.footer div ul li {
    font-size: 1.8rem;
    text-align: left;
    width: 250px;
}

.footer .footer__social ul{
    display: flex;
    flex-direction: row;
}

.footer .footer__social ul li {
    width: auto;
    padding: 1rem 2rem;
}

.footer .footer__enlaces-utiles ul li:hover {
    font-weight: bolder;
    cursor: pointer;
}

.footer__social-img {
    width: 32px;
    height: auto;
    cursor: pointer;
}

.item__container-contador  {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 2.4rem;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    height: 27px;

}

.button-contador {
    height: 100%;
    border-radius: 5px;
}

.button-contador:hover {
    background-color: lightgray;
}

.item__contador {
    font-size: 1.8rem;
}

.item__selector {
    font-size: 1.8rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.item__card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.item__container-info {
    padding: 1.5rem;
    border: 1px solid var(--secondary-color);
    border-top: none;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card__container-img {
    width: fit-content;
    display: flex;
}

.card__container-img img {
    width: 250px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.item__precio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.precio {
    font-weight: bold;
}
