* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

:root {
    line-height: 1.5;
    font-weight: 400;
    --primary-font: "Montserrat", sans-serif;
    --primary-color: #ffffff;
    --secondary-color: #00592c;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
}
